.container
  .form-row
    %h1.col-xs-6.col-xs-offset-3.text-center Sign up
  .form-row
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12.form-group
      = render 'rails4payment/shared/signup_form'
