// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#hero-unit {
  width: 100%;
  min-height: 400px;
  .well {
    font-size: 18px;
  }
  label,
  .alert {
    font-size: 14px;
  }
}
#common-modules,
#google-analytics,
#stripe,
#heroku,
#bootstrap {
  p, li {
    font-size: 26px;
    margin-bottom: 15px;
  }
}

// add margin to the 4th-plus child
body > .container:nth-child(n+4) {
  margin-top: 80px;
}
// and the third if it's right after #hero-unit
// this handles the case of a .alert container before #hero-unit
body > #hero-unit + .container {
  margin-top: 80px;
}
